*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	--bg-light: hsl(20, 100%, 30%);
	--bg-dark: hsl(20, 100%, 10%);
	--square-light: hsl(120, 100%, 12%);
	--square-dark: hsl(120, 100%, 10%);
	--chip-border: 4px;
	--stop1: 0px;
	--stop2: 0px;
	--stop3: 0px;
	--stop4: 0px;
	--p1-color: hsl(30, 100%, 50%);
	--p2-color: hsl(210, 100%, 50%);
}

body {
	width: 100vw;
	height: 100vh;
	container-type: size;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: radial-gradient(farthest-side, var(--bg-light), var(--bg-dark));
}

h1 {
	color: white;
}

#el-board {
	width: calc(min(92cqh, 92cqw));
	height: calc(min(92cqh, 92cqw));
	position: relative;
	outline: var(--stop1) solid black;
	background-image:
		linear-gradient(to bottom,
			black var(--stop1),
			transparent var(--stop1), transparent var(--stop2),
			black var(--stop2), black var(--stop3),
			transparent var(--stop3), transparent var(--stop4),
			black var(--stop4)),
		linear-gradient(to right,
			black var(--stop1),
			transparent var(--stop1), transparent var(--stop2),
			black var(--stop2), black var(--stop3),
			transparent var(--stop3), transparent var(--stop4),
			black var(--stop4)),
		repeating-conic-gradient(from 0deg, var(--square-light) 0deg 90deg, var(--square-dark) 90deg 180deg);
	background-size: 25% 25%;
}

.chip {
	position: absolute;
	border-radius: 100%;
	border: var(--chip-border) dashed black;
	outline: var(--chip-border) solid black;
	transition-property: left, top, width, height;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	text-align: center;
	padding-top: calc(2 * var(--chip-border));
	font-weight: bold;
	font-size: calc(4 * var(--chip-border));
}

.chip[id^='p1'] {
	background-color: var(--p1-color);
}

.chip[id^='p2'] {
	background-color: var(--p2-color);
}

.selected {
	box-shadow: 0px 0px calc(5 * var(--chip-border)) calc(2 * var(--chip-border)) white;
}
